@import "tailwindcss";

/* In your global CSS file or a style block */
@keyframes bounce-slow {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
  }
  
  .animate-bounce-slow {
    animation: bounce-slow 4s infinite;
  }

  :root {
    --font-poppins: var(--font-poppins);
    --font-lato: var(--font-lato);
    --font-lexend: var(--font-lexend);
    --font-jakarta: var(--font-jakarta);
    --font-inter: var(--font-inter);
    --font-karla: var(--font-karla);
    --font-josefin: var(--font-josefin);
    --font-space-mono: var(--font-space-mono);
    --font-space-comfortaa: var(--font-space-comfortaa);
  }
  
  @layer base {
    /* Apply Poppins to all heading elements */
    h1, h2, h3, h4, h5, h6 {
      /* font-family: var(--font-poppins); */
      /* font-family: var(--font-lexend); */
      /* font-family: var(--font-jakarta); */
      /* font-family: var(--font-karla); */
      font-family: var(--font-space-comfortaa);

    }

    /* Apply Lato to the body and other text elements */
    body {
      font-family: var(--font-lato);
      /* font-family: var(--font-inter); */
    }
  }
  @layer base {
    html {
      font-family: var(--font-space-mono);
    }
  }


